.hrzg-widget-widget-container {

  min-height: 48px;
  position: relative;

  outline: 2px dotted #999;
  &:hover {
    .hrzg-widget-container-controls {
      opacity: 1;
    }
    .hrzg-widget-widget-controls {
      opacity: 0.1;
    }
  }

  .hrzg-widget-widget-controls {
    opacity: 0;
    z-index: 995;
    position: absolute;
    &.pos-top {
      top: 0em;
    }
    &.pos-bottom {
      bottom: 0em;
    }
    button {
      z-index: 997;
    }
    ul {
      z-index: 998;
    }
  }

  .hrzg-widget-container-controls {
    opacity: 0;
    position: absolute;
    right: 0;
    z-index: 998;
    &.pos-top {
      top: 0em;
    }
    &.pos-bottom {
      bottom: 0em;
    }
  }

  .hrzg-widget-widget {
    min-height: 32px;
    position: relative;
    &:hover {
      outline: 2px solid #999;
      .hrzg-widget-container-controls, .hrzg-widget-widget-controls {
        opacity: 1;
      }
    }
  }
}

.selectize-control {
  &.single.loading {
    .selectize-input {
      background: #eee;
    }
  }
  .selectize-dropdown-content {
    min-height: 300px;
  }
}