.hrzg-widget-widget-container {
  min-height: 32px;
  &:hover {
    outline: 2px dashed #ccc;
  }

  .hrzg-widget-widget-controls {
    opacity: 0.3;
    position: absolute;
    &:hover {
      opacity: 1;
    }
  }

  .hrzg-widget-container-controls {
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }

  .hrzg-widget-widget {
    &:hover {
      outline: 4px solid gray;
    }
  }
}
